@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

$nunito-text-family: Nunito, sans-serif;

$primary: #0D272Fff;
$primary-light: #E1F4F7ff;
$secondary: #0A506Cff;
$accent: #1DCAD3ff;
$primary-dark: #122A32ff;
$light: #E1F4F7ff;